{% extends "base.html"%}
{%block start%}
    <br>
    <!-- <a class="btn btn-secondary" href="/index/">Home</a>
    | -->
    <nav style="margin-left: 20px ;">
        <a class="btn btn-secondary" href="/contact/">Contact</a>
        |
        <a class="btn btn-secondary" href="/">Receipe</a>
    </nav>

    
    
    
    <div class="responsive-container-block bigContainer">
        <div class="responsive-container-block Container">
          <p class="text-blk heading">
            About Us
          </p>
          <p class="text-blk subHeading">
            "🍽️ Recipe Record - A Django-Powered Cookbook! 🍽️

I built a Recipe Record Web App using Django, where users can add, update, and delete their favorite recipes effortlessly. Users can upload images 📸, provide detailed descriptions 📜, and manage their personal cookbook online. The app ensures smooth CRUD operations, making it easy to organize and modify recipes anytime.

Tech Stack: Django | SQLite | Bootstrap | HTML | CSS

This project enhances database management and user interaction skills. Excited to explore more Django-based applications! Let me know your favorite recipe! 👨‍🍳🔥
          </p>
          <div class="social-icons-container">
            <a class="social-icon">
              <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb33.png">
            </a>
            <a class="social-icon">
              <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb34.png">
            </a>
            <a class="social-icon">
              <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb35.png">
            </a>
            <a class="social-icon">
              <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb36.png">
            </a>
          </div>
        </div>
      </div>
{% endblock %}
